<!DOCTYPE html>
<html ng-app="coveredCallApp">
<head>
	<title>ATM Covered Call Options View</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
</head>
<body ng-controller="CoveredCallCtrl">
   <div style="margin:0 auto;width:20.0%;padding:10px;">
   	<input type="text" ng-model="ticker"><button ng-click="getAtmData()">Get ATM Data</button>
   </div>
   <div ng-grid="gridOptions" style="height:500px;"></div>
</body>
<script type="text/javascript">
	var app = angular.module('coveredCallApp', ['ngGrid']);
	app.controller('CoveredCallCtrl', ['$scope', '$http', function($scope, $http) {
		$scope.atmData = [];
		$scope.gridOptions = {data: 'atmData'};

		$scope.getAtmData = function() {
			$http.get('/atmView?ticker=' + $scope.ticker)
				.success(function(data, status, headers, config) {
    				$scope.atmData = data;
  				}).error(function(data, status, headers, config) {
					alert('ERROR: THERE WAS A PROBLEM LOADING THE DATA');
				});
  		};
	}]);
</script>
</html>
